<%- include('partials/header') %>

<main>

    <h1><%= title %></h1>

    <ul>
        <% categories.forEach(category => { %>
            <li>
                <%= category.name %>

                <a href="/edit-category/<%= category.category_id %>">
                    Edit
                </a>
            </li>
        <% }) %>
    </ul>

    <p>
        <a href="/new-category">
            Add a New Category
        </a>
    </p>

</main>

<%- include('partials/footer') %>